<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Venta de producto</title>
</head>
<body>

<h1>Ingresar producto</h1>

<form th:action= "@{/formProducto}" th:object = "${producto}" method ="post">
<label> Nombre del producto</label>
<input type ="text" th:field="${producto.nombre}">
<span th:errors="*{nombre}" style= "color: #E81505"></span><br>

<label> Descripcion</label>
<input type ="text" th:field="${producto.descripcion}">
<span th:errors="*{descripcion}" style= "color: #E81505"></span><br>

<label>Precio del producto</label>
<input type ="number" th:field="${producto.precio}">
<span th:errors="*{precio}" style= "color: #E81505"></span><br>

<label>Fecha de vencimiento del producto</label>
<input type ="text" th:field="${producto.vencimiento}">
<span th:errors="*{vencimiento}" style= "color: #E81505"></span><br>


<input type = "submit" value= "Agregqar producto">
</form>

</body>
</html>